<html>
    <head>
        <meta charset="UTF-8">
        <title>The Gossip Project</title>
    </head>
    <body>
        <h1> Mon super site de gossip, depuis le dossier views ! </h1>
        <p>La liste des potins arrive bientôt. En attendant, vous pouvez <a href="/gossips/new">créer un nouveau potin</a>.</p>

        
        <h3> Liste des  gossips</h3>
         <% gossips.each do |gossip| %>
            <p>
            <strong>Author:</strong> <%= gossip.author %><br>
            <strong>Content:</strong> <%= gossip.content %>
            </p>
        <% end %>
          
    </body>
</html>
